* {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;

}

body {
	background-color: white;
	color: #2D343C;
}

a {
	text-decoration: none;
}

a:link {
	color: #2D343C;
}

a:visited {
	color: #2D343C;
}

.nav {
	top: 0;
	padding: 5px;
	padding-top: 20px;
	background-color: #FFDEBD;
	text-transform: uppercase;
}


.buttons li {
	font-size: 17px;
	display: inline;
	float: right;
	padding-left: 10px;
	padding-right: 40px;
	background-color: #FFDEBD;
	text-decoration: none;
}

.buttons li:link {
	color: #2D343C;
}

.opening {
	background-size: 100%;
	margin: 0;
	background-color: #FFDEBD;
	text-align: center;
	font-size: 80px;
	width: 100%;
	display: inline-block;
}

.name {
	padding-top: 135px;
	padding-bottom: 15px;
	border-bottom: 2px dashed white;
}

.blurb {
	font-size: 100px;
	display: absolute;
	clear: both;
	padding-top: 60px;
	padding-bottom: 20px;
}

.opening li {
	list-style-type: none;
	display: none;
}


.cindy {
	padding-top: 50px;
	height: 275px;
	display: inline;
}

.cindy_jump {
	height: 250px;
	width: auto;
	margin-bottom: 150px;
	padding-top: 50px;
}

#cursor {
	height: 20px;
}

.heading {
	clear: both;
	text-align: center;
	padding: 25px;
	font-size: 50px;
	padding-bottom: 0;
	padding-top: 80px;
}

#caption {
	padding-bottom: 50px;
	font-size: 35px;
}

.down {
	padding-top: 60px;
	padding-bottom: 20px;
	font-size: 35px;
}



.about {
	color: #2D343C;
}


.text {
	font-size: 30px;
	text-align: center;
	list-style-type: none;
}


.info {
	font-size: 25px;
	text-align: center;
	margin-top: 50px;
	padding-bottom: 50px;
	left: auto;
	right: auto;
	height: 275px;
}

.images {
	list-style-type: none;
    text-align: center;
    padding-bottom: 150px;
}


.description:hover span {
	visibility: visible;
	margin: 2px;
	background-color: rgba(67, 67, 53, 0.4);
	font-size: 18px;
	color: white;
	transition: opacity 2s;

}


.images li {
	list-style-type: none;
    height: 175px;
    width: 175px;
    position: relative;
    margin: 5px;
    display: inline-block;
}

.images img {
	height: 175px;
	width: 175px;
	margin: 2px;
	display: inline-block;
}

.description {
  	color: black;
  	cursor: pointer;
  	display: table;
	height: 175px;
	left: 0;
	position: absolute;
	top: 0;
	width: 175px;
	margin: 2px;
}
.description span {
	display: table-cell;
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
}



.knowledge {
	background-color: white;
	color: #2D343C;
}

.skills {
	text-align: center;
	padding-bottom: 150px;
}

.skills li {
	display: inline;
	margin: 5px;
	font-size: 20px;
	text-align: center;
}

.classProjects {
	text-align: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
	padding-bottom: 150px;
}



.classProjects li {
	display: inline-block;
	position: relative;
	height: 275px;
	width: auto;
}


.classProjects img {
	height: 275px;
	width: auto;
}


.wrap {
	height: 275px;
	width: auto;
}
ul.img-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 20px;
}

ul.img-list li {
	display: inline-block;
	height: 275px;
	position: relative;
	width: auto;
	margin: 10px;
}

span.description2 {
	background: rgba(0,0,0,0.5);
  	color: white;
  	cursor: pointer;
  	display: table;
  	height: 275px;
  	left: 0;
  	position: absolute;
  	top: 0;
  	width: auto;
  	text-decoration: none;
}

.description2 a:link {
	color: white;
}

.description2 a:visited {
	color: white;
}

span.description2 span {
	margin-top: 110px;
  display: block;
  text-align: center;
  vertical-align: middle;
  margin-right: 0;
  width: 100%;
}

.classProjectsInfo {
	text-align: center;
	font-size: 20px;
	padding: 10px;
}

span.description2 span span {
	text-align: center;
	display: block;
	font-size: 15px;
	border: 2px solid white;
	width: 100px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

span.description2 span span:hover {
	color: black;
	background-color: white;
	font-size: 15px;
}

span.description2 {
	font-size: 25px;
  background: rgba(0,0,0,0.75);
  color: white;
  cursor: pointer;
  display: table;
  height: 275px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
}
 
ul.img-list li:hover span.description2 {
  opacity: 1;
}
.contact {
	color: #2D343C;
	background-color: white;
}


/*Style for projects*/

.checkers {
	height: 400px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.checkers-title {
	text-align: center;
	font-size: 30px;
	padding-bottom: 20px;
	padding-top: 50px;
}


.checkers-description {
	display: inline-block;
	width: 600px;
	margin: 40px;
	clear: both;
	margin-top: 5px;
}

.checkers-section {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.view-more {
	border: 2px solid #2D343C;
	display: inline-block;
	padding: 7px;
	margin-top: 5px;
	font-size: 15px;
}

.view-more:hover {
	color: white;
	border: 2px solid #2D343C;
}

.ngordnet-img {
	height: 400px;
}

.project-blurb {
	margin-top: 15px;
	font-size: 20px;
	margin-bottom: 20px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

