* {
	margin: 0;
	padding: 0;

}

body {
	background-color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #2D343C;
}

a {
	text-decoration: none;
}

a:link {
	color: #2D343C;
}

a:visited {
	color: #2D343C;
}

.nav {
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	padding: 8px;
	background-color: rgba(250, 235, 215, 0.5);
	margin-top: 0;
	width: 100%;
	text-align: center;
}

h1 {

}
.buttons li {
	font-size: 17px;
	display: inline;
	padding: 1px 5px 1px 5px;
}

.opening {
	background-image: url("photo.jpg");
	background-repeat: no-repeat;
	background-size: 100%;

	margin: 0;
	background-color: #FF7575;
	text-align: center;
	font-size: 50px;
	top: 25vh;
}

.name {
	padding-top: 135px;
	padding-bottom: 15px;
	border-bottom: 2px dashed white;
	color: #479FDA;
}

.blurb {
	padding-bottom: 175px;
	padding-top: 20px;
	font-size: 34px;
	color: #479FDA;
}

.down {
	padding: 8px;
}

.heading {
	width: 100vw;
	font-size: 75px;
	padding: 32px;
	float: left;
	
}

.about {
	color: #2D343C;
	margin-left: 0;
	margin-right: 0;
	display: inline-block;
}


.text {
	font-size: 30px;
	text-align: center;
	list-style-type: none;
}


.info {
	font-size: 30px;
	text-align: center;
	list-style-type: none;
	font-family: "Century Gothic", sans-serif;
}


.instruction {
	font-size: 15px;
	border: 2px solid #2D343C;
	padding: 13px;
	margin-left: auto;
	margin-right: auto;	
}

.images {
	list-style-type: none;
	margin: 2px;
    text-align: center;
}


.description:hover span {
	visibility: visible;
	margin: 2px;
	background-color: rgba(250, 235, 215, 0.25);
	font-size: 25px;

}


.images li {
	list-style-type: none;
    height: 175px;
    width: 175px;
    margin: 2px;
    position: relative;
    display: inline;
}

.images img {
	height: 175px;
	width: 175px;
	margin: 2px;
}

.description {
  	color: black;
  	cursor: pointer;
  	display: table;
	height: 175px;
	left: 0;
	position: absolute;
	top: 0;
	width: 175px;
	margin: 2px;
}
.description span {
	display: table-cell;
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
}



.knowledge {
	background-color: white;
	color: #2D343C;
}

.skills {
	text-align: center;
}

.skills li {
	display: inline;
	margin: 5px;
	font-size: 20px;
	text-align: center;
}



.projects {
	clear: both;
	color: #2D343C;
	background-color: white;
}

.contact {
	color: #2D343C;
	background-color: white;
}

