* {
	margin: 0;
	padding: 0;

}

body {
	background-color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #2D343C;
}

a {
	text-decoration: none;
}

a:link {
	color: #2D343C;
}

a:visited {
	color: #2D343C;
}

.nav {
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	padding: 5px;
	background-color: rgba(250, 235, 215, 0.5);
	margin-top: 0;
	width: 100%;
	text-align: center;
}


.buttons li {
	font-size: 17px;
	display: inline;
	padding: 1px 5px 1px 5px;
}

.opening {
	background-size: 100%;
	margin: 0;
	background-color: #FFDEBD;
	text-align: center;
	font-size: 50px;
	top: 25vh;
	width: 100%;
}

.name {
	padding-top: 135px;
	padding-bottom: 15px;
	border-bottom: 2px dashed white;
	font-family: "Century Gothic", sans-serif;

}

.blurb {
	font-size: 34px;
	display: absolute;
	clear: both;
}

.opening {
	display: inline-block;
}

#cindy_jump {
	height: 200px;
	display: none;
}

.opening li {
	list-style-type: none;
	display: none;
}

.imageshow:hover + #cindy_jump {
	display: inline;
}

#cindy {
	height: 200px;
	margin-top: 100px;
	display: inline;
}



.heading {
	clear: both;
	text-align: center;
	padding: 25px;
	font-size: 40px;
}

.down {
	padding: 8px;
}



.about {
	color: #2D343C;
}


.text {
	font-size: 30px;
	text-align: center;
	list-style-type: none;
}


.info {
	font-size: 25px;
	text-align: center;
	list-style-type: none;
	font-family: "Century Gothic", sans-serif;
	padding: 30px;

}


.instruction {  
	margin-bottom: 30px; 
	font-size: 15px;
	border: 2px solid #2D343C;
	padding: 13px;
	display: inline-block;
}

.images {
	list-style-type: none;
    text-align: center;
    margin: 2px;
    margin-left: 40px;
    margin-right: 40px;
}


.description:hover span {
	visibility: visible;
	margin: 2px;
	background-color: rgba(67, 67, 53, 0.4);
	font-size: 18px;
	color: white;
	transition: opacity 2s;

}


.images li {
	list-style-type: none;
    height: 175px;
    width: 175px;
    margin: 2px;
    position: relative;
    display: inline-block;
}

.images img {
	height: 175px;
	width: 175px;
	margin: 2px;
	display: inline-block;
}

.description {
  	color: black;
  	cursor: pointer;
  	display: table;
	height: 175px;
	left: 0;
	position: absolute;
	top: 0;
	width: 175px;
	margin: 2px;
}
.description span {
	display: table-cell;
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
}



.knowledge {
	background-color: white;
	color: #2D343C;
}

.skills {
	text-align: center;
}

.skills li {
	display: inline;
	margin: 5px;
	font-size: 20px;
	text-align: center;
}

.classProjects {
	text-align: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
}



.classProjects li {
	display: inline-block;
	position: relative;
	height: 275px;
	width: auto;
}


.classProjects img {
	height: 275px;
	width: auto;
}


.wrap {
	height: 275px;
	width: auto;
}
ul.img-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 20px;
}

ul.img-list li {
	display: inline-block;
	height: 275px;
	position: relative;
	width: auto;
	margin: 5px;
}

span.description2 {
	background: rgba(0,0,0,0.5);
  	color: white;
  	cursor: pointer;
  	display: table;
  	height: 275px;
  	left: 0;
  	position: absolute;
  	top: 0;
  	width: auto;
  	text-decoration: none;
}

.description2 a:link {
	color: white;
}

.description2 a:visited {
	color: white;
}

span.description2 span {
	margin-top: 110px;
  display: block;
  text-align: center;
  vertical-align: middle;
  margin-right: 0;
  width: 100%;
}

.classProjectsInfo {
	text-align: center;
	font-size: 20px;
	padding: 10px;
}

span.description2 span span {
	text-align: center;
	display: block;
	font-size: 15px;
	border: 2px solid white;
	width: 100px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

span.description2 span span:hover {
	color: black;
	background-color: white;
	font-size: 15px;
}

span.description2 {
	font-size: 25px;
  background: rgba(0,0,0,0.75);
  color: white;
  cursor: pointer;
  display: table;
  height: 275px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
}
 
ul.img-list li:hover span.description2 {
  opacity: 1;
}
.contact {
	color: #2D343C;
	background-color: white;
}


/*Style for projects*/

.checkers {
	height: 400px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.checkers-title {
	text-align: center;
	font-size: 30px;
	padding-bottom: 20px;
	padding-top: 50px;
}

.checkers-title p {
	font-size: 30px;
}

.checkers-description {
	display: inline-block;
	border: 1px solid black;
	width: 600px;
	margin: 40px;
	clear: both;
	margin-top: 5px;
}

.checkers-section {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.view-more {
	border: 2px solid black;
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
}

.view-more:hover {
	background-color: white;
	color: black;
}

.ngordnet-img {
	height: 400px;
}





